@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-color: #f9f7f0;
  }

  .landing-header {
    display: flex;
    flex-direction: row;
    height: 15%;
    width: 100%;
    justify-content: space-between;
  }
  
  .logo-container {
    display: flex;
    flex-direction: row;
    width: 50%;
    margin: 20px 35px;
  }
  
  .logo-container > h1 {
    margin: 0;
    font-size: 1.4em;
  }
  
  .order-icon {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQu1JquO37Sa6-cD4aPwJKVRQR6yUSXe1pE-g&s');
    width: 1.4em;
    height: 1.4em;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 2px;
    padding-left: 5px;
  }
  
  .landing-image {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTsxoGm441odEULCuKT1AVT11JEHSeciyz26g&s');
    height: 100%;
    background-size: 600px;
    background-repeat: no-repeat;
    margin: 0 0 0 400px;
  }
  
  .auth-links,
  .nav-links {
    margin: 25px 0px;
  }
  
  .auth-links > a {
    color: white;
    padding: 10px 25px;
    border-radius: 10px;
    text-decoration: none;
    margin: 0 10px;
  }
  
  .auth-links > a:first-child {
    background-color: #c6e30a;
  }
  
  .auth-links > a:first-child:hover {
    background-color: black;
    color: white;
  }
  
  .auth-links > a:nth-child(2) {
    background-color: #c6e30a;
  }
   
  .auth-links > a:nth-child(2):hover {
    background-color: black;
    color: white;
  }
  
  .nav-links > a {
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
    color: black;
  }
  
  .nav-links > a:hover {
    color: #6f8dae;
    text-decoration: underline;
  }
  *{
    margin: 0;
    padding: 0;
    font-family: 'poppins' , sans-serif;
    box-sizing: border-box;
  }
  .order-icon {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQu1JquO37Sa6-cD4aPwJKVRQR6yUSXe1pE-g&s');
    width: 1.4em;
    height: 1.4em;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 2px;
    padding-left: 5px;
  }
  .hero{
    width: 100%;
    min-height:100vh;
    background: #292929;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .hero h1{
    color: #fff;
    font-weight: 500;
    margin-bottom: 40px;

  }

  .sign-up-box{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
    max-width: 800px;
    background: #292929;
  }
  .left-box{
    padding: 50px;
    background:  #c6e30a;
    flex-basis: 50%;
    flex-grow: 1;
    color: #000;
  }
  .right-box{
    padding:50px;
    flex-basis: 50%;
  }
  .input-box{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #fff;
    outline: none;
    color: #000;
    font-size: 12px;
    background: transparent;
  }
  .left-box button{
    width: 100%;
    background: #fff;
    padding: 10px;
    border: 0;
    outline: none;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
    transition: background 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .left-box button:hover{
    font-weight:500;
    background: #000;
    color: #fff;
  }
  .left-box button span{
    display: inline-block;
    width: 0;
    overflow: hidden;
    transition: width 0.5s;
  }
  .left-box button:hover span{
    width: 30px;
  }
  .right-box a{

    display: block;
    width: 100%;
    margin: 20px 0;
    min-width: 250px;
    color:#000;
    font-size: 14px;
    padding: 15px 30px;
    text-decoration: none;
    background: #c6e30a;

  }

 
  .bro{
    width: 100%;
    min-height:100vh;
    background: #292929;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .bro h1{
    color: #fff;
    font-weight: 500;
    margin-bottom: 40px;

  }

  .sign-in-box{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
    max-width: 800px;
    background: #292929;
    height: 300px;
  }
  .left-box{
    /* padding: 50px; */
    background:  #c6e30a;
    flex-basis: 50%;
    width: 90%;
    max-width: 800;
    flex-grow: 1;
    color: #000;
  }
  .right-box{
    padding:50px;
    flex-basis: 50%;
    flex-grow: 1;
  }
  .input-box{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #fff;
    outline: none;
    color: #000;
    font-size: 15px;
    background: transparent;
  }
  .left-box button{
    width: 100%;
    background: #fff;
    padding: 10px;
    border: 0;
    outline: none;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
    transition: background 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .left-box button:hover{
    font-weight:500;
    background: #000;
    color: #fff;
  }
  .left-box button span{
    display: inline-block;
    width: 0;
    overflow: hidden;
    transition: width 0.5s;
  }
  .left-box button:hover span{
    width: 30px;
  }
  .right-box a{

    display: block;
    width: 100%;
    margin: 20px 0;
    min-width: 250px;
    color:#000;
    font-size: 14px;
    padding: 15px 30px;
    text-decoration: none;
    background: #c6e30a;

  }

  .signup{
    width: 300px;
    height: 400px;
    background-position: center;
    background-size: contain;
  }
  .signin{
    width: 300px;
    height: 200px;
    background-position: center;
    background-size: contain;
  }

  .index-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    width: 90%;
  }
  
  .index-header > h1 {
    text-transform: uppercase;
    font-size: 1.5em;
  }
  
  .index-header > a {
    padding: 6px 12px;
    border: 1px solid gray;
    text-decoration: none;
    color: black;
  }
  
  .index-header > a:hover {
    background-color: black;
    color: white;
  }
  
  .card-container {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 70px;
  }
  
  .card-container > a {
    padding: 12px 25px;
    border: 1px solid gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin: 5px 30px 50px;
    color: black;
  }
  
  .card-container > a:hover {
    background-color: black;
    color: white;
  }
  
  a > h4 {
    font-weight: normal;
    font-size: 1em;
  }

  .new-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80%;
  }
  
  .new-form-container {
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    padding: 10px 40px;
  }
  
  .new-form-container > h1 {
    text-transform: uppercase;
    font-weight: normal;
    font-size: 1.6em;
  }
  
  .new-form-container > form {
    display: flex;
    flex-direction: column;
  }
  
  .new-form-container > form > input {
    width: 38em;
  }
  
  .new-form-container > form > button {
    margin-bottom: 20px;
  }

  .show-page-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 20px 50px;
    height: 100%;
    max-width: 100%;
  }
  
  .show-img {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSGo8AGwviM46wTB6pU0ycDgOugqN5Bw8O5FQ&s');
    background-size: cover;
    background-repeat: no-repeat;
    height: 80%;
    width: 40%;
  }
  
  .show-info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 80%;
  }
  
  .show-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 75%;
  }
  
  .show-header > h1 {
    text-transform: uppercase;
    font-weight: normal;
    font-size: 1.8em;
  }
  
  .show-header > h3 {
    font-weight: normal;
    font-size: 1.6em;
  }
  
  .show-details-container {
    border: 1px solid gray;
    padding: 20px 30px;
    width: 70%;
    margin: 10px 0;
  }
  
  .show-details-container > h3 {
    font-weight: normal;
    font-size: 1em;
  }
  
  .show-details-container > p {
    font-size: 1em;
  }
  
  .owner-container {
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: space-between;
    align-items: center;
  }
  
  .owner-container > a {
    padding: 6px 32px;
    background-color: #6f8dae;
    text-decoration: none;
    color: white;
    font-weight: bold;
    border-radius: 8px;
    font-size: 0.8em;
  }
  
  .owner-container > a:hover {
    background-color: black;
  }
  
  .favorites-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 60px 30px;
    width: 70%;
    border: 1px solid gray;
    margin: 10px 0;
  }
  
  .favorites-count {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
  }
  
  .favorites-count > h2 {
    font-size: 1.1em;
    margin: 0 10px;
  }

  .profile-container {
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
    width: 90%;
  }
  
  .profile-favorites-container {
    padding: 10px 30px;
    border: 1px solid gray;
    width: 70%;
    align-self: center;
  }
  
  .profile-card-container {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 70px;
  }
  
  .profile-card-container > a {
    padding: 8px 15px;
    width: 7em;
    height: 6em;
    border: 1px solid gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin: 5px 10px 20px;
    color: black;
  }
  
  .profile-card-container > a:hover {
    background-color: black;
    color: white;
  }
  
  .profile-card-container > a > h4 {
    font-size: 0.9em;
    text-align: center;
  }
  
  .profile-card-container > a > p {
    font-size: 0.8em;
  }