<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Edit</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>

    <div class="new-container">
      <div class="new-form-container">

    <h1>Edit</h1>

    <form action="/orders/<%= order._id %>?_method=PUT" method="POST">>
        <label for="adress">address:</label>
        <input
          type="text"
          name="address"
          id="address"
          value="<%= order.address %>"
        />
        <label for="number">Number:</label>
        <input type="number" 
        name="number" 
        id="number" 
        value="<%= order.number %>" />

        <label for="type">Type:</label>
        <select id="type" name="type">
          <option value="food">Food</option>
          <option value="clothes">Clothes</option>
          <option value="accessories">Accessories</option>
          <option value="medicine">Medicine</option>
        
        </select>

        <label for="notes">Notes:</label>
        <textarea name="notes" id="notes"></textarea>
        
       
        <button type="submit" >Edit Order</button>
    </form>
      </div>
    </div>
</body>
</html>