

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>All orders</title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <div class="index-header">
      <h1>All Orders</h1>
      <a href="/orders/new">+ Add Order</a>
    </div>
    <div class="card-container">
      <% orders.forEach((order)=> { %>
      <a href="/orders/<%= order._id %>">
        <h4><%= order.city %> order</h4>
        <p>Owned by <%= order.owner.username %></p>
      </a>
      <% }) %>
    </div>
  </body>
</html>